/* Allgemeine Stile für die Pokémon-Karte */
.cart {
    width: 400px;
    /*background: linear-gradient(145deg, #ffffff, #f9d423);*/
    /* Goldener Farbverlauf für den Rand */
    border: 3px solid #d4a017;
    /* Goldener Kartenrand */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 -8px 16px rgba(255, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

/* Glanzeffekt, der von unten links nach oben rechts verläuft */
.cart::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.cart:hover::before {
    opacity: 1;
    transform: scale(1.20);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cart:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.kp {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #ffcc00;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.spezialAtack {
    margin: 10px 0;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.attackHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}