#mainContainer {
    margin: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

select {
    height: 31px;
    font-size: 16px;
}

.overlay {
    width: 85vw;
    height: 90vh;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
}


.pokemonHeader {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-position: cover;
    background-repeat: no-repeat;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 24px;
    border: 3px solid #ffcc00;
}

.pokemonInfoExtendet {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.exit_div {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: -24px;
    margin-right: 24px;
}

.nameTag {
    width: 95%;
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px black);
}

.pokemonPhoto {
    height: 95%;
    margin-top: 200px;
}

.pokeInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tablePokeInfo {
    width: 100%;
}

.tablePokeInfo td {
    padding: 25px;
    text-align: left;
}

@media(max-width: 1000px) {
    .pokemonPhoto img {
        width: 420px;
    }
}

@media(max-width: 850px) {
    .row {
        flex-direction: column;
        overflow-y: auto;
        justify-content: start;
    }

    .pokemonPhoto {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }

    .pokemonHeader {
        width: 100%;
        height: 50%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        background-position: 0 -450px;
    }

    .pokemonPhoto img {
        height: 200px;
        width: auto;
    }

    .exit_div {
        width: 70vw;
        padding-top: 200px;
    }

    .exit_div img {
        z-index: 10;
    }

    .pokemonInfoExtendet {
        width: 100%;
        height: 50%;
        overflow-y: auto;
    }
    
    .arrow_div {
        width: 100%;
    }
}